@charset "UTF-8";

:root {
    --fundo: #282844;
    --fundo_secundario: #2C387B;
    --btn_add: #8BC34A;
    --btn_add_hover: #5e8531;
    --tarefa: #E0E0E0;
    --text: #E0E0E0;
    --text_tarefa: #333333;
    --roboto:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fundo);
    font-family: var(--roboto);
    min-height: 100vh;
    min-width: 100vw;
}

#cabecalho{
    color: var(--text);
    text-align: center;
    padding: 80px 0;
}

#cabecalho h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input_tarefas{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--fundo_secundario);
    height: 100px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#input_tarefas input{
    width: 400px;
    height: 40px;
    margin-top: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    font-family: var(--roboto)
}

#input_tarefas button{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn_add);
    color: var(--fundo);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--roboto);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#input_tarefas button:hover{
    background-color: var(--btn_add_hover);
    color: var(--text);
}

#container_tarefas{
    margin-top: 30px;
    background-color: var(--fundo_secundario);
    width: 600px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#container_tarefas ul{
    list-style-type: none;
}

.tarefa_item{
    background-color: var(--tarefa);
    color: var(--text_tarefa);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

.btn_conferir, .btn_remover{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.btns {
    border-left: 1px solid var(--fundo);
    padding-left: 12px;
    display: flex;
    gap: 10px;
}
#btn_conferir{
    color: green;
    margin-right: 10px;
}
#btn_remover{
    color: red;
}
#rodape{
    text-align: center;
    color: var(--text);
    margin: 40px 0;
    font-size: 0.9rem;
}
#rodape a{
    color: var(--text);
    text-decoration: none;
}
#rodape a:hover{
    text-decoration: underline;
    color: var(--btn_add);
}

.concluida{
    text-decoration: line-through;
    opacity: 0.6;
    color: #777;
    background-color: #f3f3f3;
    transition: .3s ease;
}

#modal {
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 300px;
    background: var(--tarefa);
    box-shadow: 2px 2px 5px #d8d8d8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn_fecharModal{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 76px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--fundo_secundario);
    color: var(--text);
}

#btn_fecharModal:hover{
    background-color: var(--fundo);
    transition: 0.3s ease-in;
}

#modal::backdrop {
    background: rgba(0, 0, 0, 0.5); /* escurecimento do overlay */
    backdrop-filter: blur(3px);     /* opcional: deixar mais elegante */
}
}

